@tailwind base;

@layer base {
  html {
    @apply bg-[#EEEEEE];
    background-color: #242424;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    padding-top: 10rem;
 
    text-align: center;
  
    
  }



}

@tailwind components;
@tailwind utilities;